@use "../abstracts/variables" as v;

:root {
	--font-body: #{v.$font-body};
	--font-headings: #{v.$font-headings};

	--transition-standard: 0.15s ease-in-out;
}

hr {
	opacity: 1;
}

.hero {
	max-height: 90rem;
	margin-top: 110px;
}
