@use '../abstracts/variables' as v;

:root {
	--color-primary: #{v.$color-primary};
	--color-primary--dark: #{v.$color-primary};
	--color-secondary:#{v.$color-secondary};
	
	--font-body:#{v.$font-body};
	--font-headings:#{v.$font-headings};
}

hr {
	opacity: 1;
}

#page.site {
	margin-top: 112px;
}