@use "../abstracts/variables" as v;

:root {
	--font-body: #{v.$font-body};
	--font-headings: #{v.$font-headings};

	--transition-standard: #{v.$transition--standard};
}

hr {
	opacity: 1;
}

.hero {
	max-height: 900px;

	&__bg-container {
		margin-top: 110px;
		max-width: 1920px;
	}

	&__image {
		aspect-ratio: 21 / 9;
	}
}
