@use "./typography/hero-headline";

body {
	text-wrap: pretty;
}

p {
	font-size: 1.25rem;
}

h1,
.h1,
h2,
.h2 {
	font-weight: bold;
	text-transform: uppercase;
}

a {
	transition: color var(--transition-standard);
}

%arrow-links {
	line-height: 1.75rem;
	align-self: flex-end;
	font-weight: 500;
	font-size: 1.75rem;
	z-index: 1;

	&:hover,
	&:focus {
	}
}
.arrow-link {
	@extend %arrow-links;

	&-white {
		@extend %arrow-links;
		color: white;

		&:hover,
		&:focus {
			color: var(--bs-primary);
		}
	}
}
