@use "./typography/hero-headline";
@use "bootstrap/scss/vendor/rfs" as rfs;

body {
	text-wrap: pretty;
	word-break: normal;
}

[class*="fs-"] > p {
	font-size: inherit;
}

h1,
.h1,
h2,
.h2 {
	font-weight: bold;
	text-transform: uppercase;
}

a {
	transition: color var(--transition-standard);
}

%arrow-links {
	align-self: flex-end;

	&:hover,
	&:focus {
	}
}
.arrow-link {
	@extend %arrow-links;

	&-white {
		@extend %arrow-links;
		color: white;

		&:hover,
		&:focus {
			color: var(--bs-primary);
		}
	}
}
