@use "./typography/links";

%base_font_styles {
	font-family: var(--font-body);
	font-weight: 400;
	font-style: normal;
	font-size: 1.25rem;
}

body {
	@extend %base_font_styles;
}

p {
	@extend %base_font_styles;
	font-size: 1.75rem;
	letter-spacing: 0.1rem;
}

h1,
.h1,
h2,
.h2 {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--color-primary);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: var(--font-headings);
}
