.blue-topo-bg {
	background: url("../../img/bg-images/footer-bg.webp");
	color: white;

	h2 {
		color: white;
		margin-block: 0.625rem;
	}

	.form-arrow {
		position: absolute;
		right: 15px;
		top: 13px;
		z-index: 0;
	}
}

.offset-topo-bg {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		background: url("../../img/bg-images/light-gray-map-background.webp");
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
	}
}

/**
* Using half pixel width to fix a weird rounding issue
* Using 58px caused the lines to be off by 1px on odd viewport sizes
* (e.g. 991px looked bad, 992px looked good)
*/
.vertical-line {
	border-right: 1.5px solid var(--bs-dark);
	width: 57.5px;
	margin-top: 10px;
	height: calc(100% - 80px);

	&-white {
		border-right-color: white;
	}
}

%arrow_styles {
	height: 165px;
	width: 70.5px;
	left: 33.5px;
	z-index: 2;
	margin-top: -63px;
}

.arrow {
	@extend %arrow_styles;

	&-white {
		filter: brightness(100) saturate(100%);
	}
}

figure.arrow {
	@extend %arrow_styles;
	height: unset;
	bottom: -52px;
}

.arrow-svg {
	width: 71px;
	left: 34px;
}

.zi-1020 {
	z-index: 1020;
}

.text-transform-none {
	text-transform: none !important;
}
