.blue-topo-bg {
	background: url("../../img/bg-images/footer-bg.webp");
	color: white;

	h2 {
		color: white;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.form-arrow {
		position: absolute;
		right: 15px;
		top: 13px;
		z-index: 0;
	}
}

.offset-topo-bg:after {
	content: "";
	position: absolute;
	margin-top: -350px;
	background: url("../../img/bg-images/light-gray-map-background.webp");
	width: 100%;
	height: 700px;
	left: 0;
	z-index: -1;
}

.vertical-line {
	border: 1.5px solid transparent;
	border-right-color: #414042;
	height: calc(100% - 132px);
	width: 57.5px;
	margin-top: 10px;

	&-white {
		border-right-color: white;
	}
}

.arrow {
	height: 163px;
	width: 70.5px;
	left: 33.5px;
	z-index: 2;
	margin-top: -63px;

	&-white {
		filter: brightness(100) saturate(100%);
	}
}

.zi-1020 {
	z-index: 1020;
}
