@use "../abstracts/mixins" as m;

/** Eat & Drink Page **/
.menu {
	&-link {
		color: rgb(33, 37, 41);
		i {
			margin-right: 0.5rem;
		}
	}
}

#containers {
	--swiper-navigation-sides-offset: 5px;
	--swiper-navigation-color: white;
	--swiper-pagination-bullet-inactive-color: white;
	--swiper-pagination-color: white;
	--swiper-pagination-bullet-inactive-opacity: 0.5;

	.swiper {
		.swiper-slide {
			height: unset;
		}
	}
}

.arrow-svg {
	width: 71px;
	left: 34px;
}
