%btn {
	border: 2px solid transparent;
	transition: all var(--transition-standard);

	&:hover {
		color: white;
	}

	&:focus-visible {
		outline: var(--color-primary) 2px solid;
		outline-offset: 2px;
		border-color: white;
	}
}

%diamond-button {
	@extend %btn;
	padding: 0.3125rem 0.625rem;
	transform: rotateZ(45deg);
	border-color: white;

	svg {
		color: white;
		transform: rotateZ(-45deg);
		transition: 0.3s;
	}

	&:hover,
	&:focus,
	&:active {
		background-color: white;
		i {
			color: black;
		}

		svg {
			color: var(--bs-primary);
		}
	}
}
