%btn {
	border: 1px solid transparent;
	border-radius: 0;
	color: black;
	transition: 0.3s;
	text-decoration: none;

	&:hover {
		color: white;
	}
	&:focus-visible {
		outline: var(--color-primary) 2px solid;
		outline-offset: 2px;
		border: 2px solid white;
	}
}
