/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/*-----------------------------------------------------------------------------

  ATTENTION! This is the parent-theme's file. Your work will be lost by the 
  next update!

  Wouldn't you prefer to use one of our child themes and be update-safe?

  bootscore-child: 
  https://github.com/bootscore/bootscore-child/archive/refs/heads/main.zip

  bootcommerce-child:
  https://github.com/bootscore/bootcommerce-child/archive/refs/heads/main.zip

-----------------------------------------------------------------------------*/

/* Defaults */

body {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

p {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: #69813b;
  transition: 0.3s;
  &:hover {
    color: #384919;
  }
}

h1,
.h1,
h2,
.h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #69813b;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "trajan-sans-pro", sans-serif;
}

hr {
  opacity: 1;
}

#page.site {
  margin-top: 112px;
}

/* Nav */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

.navbar .navbar-nav {
  .nav-item {
    text-transform: none;
    &:hover {
      > .dropdown-menu.depth_0 {
        display: flex;
        flex-direction: row;
        margin-top: 42px;
        border-radius: 0;
        border: none;
        border-top: 4px solid #69813b;
        top: auto;
        padding: 1rem 2rem;
        ul,
        li,
        a {
          position: relative;
          border: none;
          border-radius: 0;
          font-weight: 300;
          font-family: "gill-sans-nova", sans-serif;
          padding: 0 1rem 0 0;
        }
        > li > a {
          font-weight: 700;
          text-transform: uppercase;
          font-family: "trajan-sans-pro", sans-serif;
          padding: 1rem 0;
        }
        li:last-child {
          padding: 0;
        }
        .dropdown-menu.depth_1 {
          margin-bottom: 1rem;
        }
      }
      li:not(:nth-last-child(2)):not(:last-child) .dropdown-menu.depth_1 li {
        border-right: 1px solid black;
      }
    }
    .mega-menu-image {
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  > .nav-item {
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-transform: uppercase;
  }
}

.dropdown-toggle::after {
  display: none;
}

.header-bar {
  font-family: "trajan-sans-pro", sans-serif;
  background: url(/wp-content/uploads/2023/07/nav-bg.jpg);
  background-size: cover;
  min-height: 100px;
  color: white;
  .logo.sm {
    height: 80px;
    @include media-breakpoint-up(xxl) {
      max-height: 1000px;
    }
  }
  .nav-btn .nav-link {
    border: 1px solid white;
    &:hover {
      background: white;
      color: #69813b;
    }
  }
  .nav-link {
    color: white;
    font-size: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: inline-block;
    transition: 0.3s;
    @include media-breakpoint-up(xxl) {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
    &.active {
      color: white;
      font-weight: bold;
    }
  }
  li:not(.nav-btn) .nav-link.show,
  li:not(.nav-btn) .nav-link:hover {
    color: white;
  }
  .nav-btn {
    @include media-breakpoint-down(xl) {
      margin-left: 1rem;
      margin-top: 0.5rem;
    }
  }
}

.offcanvas {
  color: white;
  ul li a {
    padding: 0.75rem 1rem;
  }
  @include media-breakpoint-down(xl) {
    background: url(/wp-content/uploads/2023/07/nav-bg.jpg);
  }
  @include media-breakpoint-down(lg) {
    padding-bottom: 1rem;
  }
}

/* Content */

#booking-bar {
  @include media-breakpoint-up(lg) {
    margin-top: -90px;
  }
  @include media-breakpoint-down(lg) {
    max-width: none;
  }
  background: url("/wp-content/uploads/2023/08/brown-basket-bg.jpg");
  color: white;
  label {
    padding-left: 1rem;
  }

  h2,
  .h2 {
    color: white;
  }
  .form-arrow {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 0;
  }

  label {
    font-family: "gill-sans-nova", sans-serif;
  }

  input[type="text"] {
    position: relative;
    border: 2px solid white;
    border-radius: 0;
    color: white;
    background: none;
    padding: 0.5rem;
    font-size: 1.15rem;
    line-height: 1.25;
    z-index: 1;
    &:focus {
      background-color: transparent;
      color: white;
    }
    cursor: pointer;
  }

  select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: 1.15rem;
    cursor: inherit;
    line-height: 1.25;
    color: white;
    z-index: 1;
    outline: none;
    --bs-form-select-bg-img: none;
    &::-ms-expand {
      display: none;
    }
  }

  .select {
    display: block;
    position: relative;
    padding: 0;
    height: 43px;

    select,
    &::after {
      grid-area: select;
    }

    border: 2px solid white;
    border-radius: 0;
    cursor: pointer;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .daterangepicker {
    background-color: #2d2d2d;
    color: white;
    border: 1px solid rgba(255,255,255,.2);
  }
  .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
    color: white;
    border: solid white;
    border-width: 0 2px 2px 0;
  }
  .daterangepicker .calendar-table .next:hover span, .daterangepicker .calendar-table .prev:hover span {
    color: black;
    border: solid black;
    border-width: 0 2px 2px 0;
  }
  .daterangepicker .calendar-table {
    background-color: transparent;
    border: 0px;
  }
  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background: rgba(255,255,255,.2);
    color: black;
  }
  .daterangepicker td.in-range {
    background: #69813b;
    color: white;
  }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background: #384919;
    color: white;
  }
}

#title-bar {
  @include media-breakpoint-up(lg) {
    margin-top: -90px;
  }
  @include media-breakpoint-down(lg) {
    max-width: none;
  }
  background: url("/wp-content/uploads/2023/08/light-gray-map-background.jpg");
  label {
    padding-left: 1rem;
  }

  .form-arrow {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 0;
  }
}

#weather-widget {
  color: white;
  padding: 1rem;
  font-size: 1.15rem;

  .row {
    background: url("/wp-content/uploads/2023/08/brown-basket-bg.jpg");
    background-size: cover;
  }

  .day {
    font-weight: 700;
    font-size: 1rem;
  }

  h2,
  .h2 {
    color: white;
    font-size: 5rem;
    i {
      color: yellow;
    }
  }
  p {
    font-size: 1rem;
  }

  small {
    vertical-align: top;
    padding-left: 0.25rem;
  }
}

.blue-topo-bg {
  background: url("/wp-content/uploads/2023/08/footer-bg.jpg");
  // padding: 4rem 0;
  color: white;
  h2 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .form-arrow {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 0;
  }
}

.offset-topo-bg:after {
  content: "";
  position: absolute;
  margin-top: -350px;
  background: url("/wp-content/uploads/2023/08/light-gray-map-background.jpg");
  width: 100%;
  height: 700px;
  left: 0;
  z-index: -1;
}

.btn {
  &-reserve {
    height: 43px;
    font-size: 1.14rem;
    line-height: 1.25;
    border: 2px solid white;
  }
  &-white {
    background: white;
    border: 1px solid white;
    border-radius: 0;
    color: black;
    transition: 0.3s;
    text-decoration: none;
    &:hover {
      color: white;
      border: 1px solid white;
    }
  }
  &-reserve {
    @extend .btn-white;
    color: #b96a56;
  }
  &-default {
    @extend .btn-white;
    background: transparent;
    color: #69813b;
    border: 2px solid #69813b;
    padding: 0.5rem 1rem;
    font-weight: 500;
    line-height: 3;
    &:hover {
      background: #69813b;
      color: white;
      border: 2px solid #69813b;
    }
  }
  &-secondary {
    @extend .btn-white;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    font-weight: 500;
    &:hover {
      background: white;
      color: #69813b;
      border: 2px solid white;
    }
  }
  &-mega-menu {
    @extend .btn-white;
    background: #69813b;
    color: white;
    border: 2px solid #69813b;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    &:hover {
      background: white;
      color: #69813b;
      border: 2px solid #69813b;
    }
  }
  &-diamond {
    @extend .btn-white;
    background: transparent;
    transform: rotateZ(45deg);
    i {
      color: white;
      transform: rotateZ(-45deg);
      transition: 0.3s;
    }
    &:hover {
      background: white;
      i {
        color: black;
      }
    }
    &-white {
      @extend .btn-diamond;
      background: white;
      i {
        color: #69813b;
      }
      &:hover {
        background: #69813b;
        i {
          color: white;
        }
      }
    }
  }
}

.vertical-line {
  border-right: 1.5px solid #414042;
  height: calc(100% - 152px);
  width: 58px;
  margin-top: 10px;
  &-white {
    border-right: 1.5px solid white;
  }
  &-rooms {
    @extend .vertical-line;
    height: calc(100% - 136px);
  }
}

.arrow {
  height: 163px;
  width: auto;
  left: 26px;
  z-index: 2;
  margin-top: -60px;
  &-link {
    line-height: 1.75rem;
    align-self: flex-end;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.75rem;
    z-index: 1;
    &-white {
      color: white;
    }
  }
  &-white {
    filter: brightness(100) saturate(100%);
  }
}

/* Footer */

footer {
  background-image: linear-gradient(
      to bottom,
      rgba(1, 1, 1, 0.2),
      rgba(1, 1, 1, 0.2)
    ),
    url("/wp-content/uploads/2023/08/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  h2 {
    padding-bottom: 1rem;
  }
  p,
  ul,
  ol,
  a,
  li {
    font-family: "gill-sans-nova", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  a {
    color: white;
    text-decoration: none;
    text-transform: none;
  }
  ul,
  ol {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 0.5rem;
    }
  }
  .social-icons a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .footer-info {
    background: #231f20;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
}

/** Eat & Drink Page **/
.menu {
  &-link {
    color: rgb(33, 37, 41);
    i {
      margin-right: 0.5rem;
    }
  }
}

ul.dining-hours {
  padding-left: 0;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
  li {
    list-style: none;
  }
}

#containers {
  font-size: 1.25rem;
  p {
    font-size: 1.25rem;
  }
}

/** Entertainment Page **/
.events {
  &-list {
    &-item {
      height: 450px;
      padding: 1rem 1.5rem;
      &-bg {
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        background: url(/wp-content/uploads/2023/09/event-placeholder-bg.jpg);
      }
      h3 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
      }
      p {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }
}
