.banner-bg-header {
	max-height: 60rem;

	&__image {
		max-width: 1920px;
		max-height: inherit;
		object-fit: cover;

		&--blur {
			filter: blur(10px);
			transform: scale(1.1);
		}
	}

	.text-light {
		text-shadow: 1px 1px 2px black;
	}
}
