@use "../abstracts/buttons";
@use "bootstrap/scss/vendor/rfs" as rfs;

$standard-buttons: ("primary", "secondary");
@each $color in $standard-buttons {
	.btn-#{$color} {
		color: white;

		&:hover,
		&:active,
		&:focus {
			background-color: white;
			color: var(--bs-#{$color});
		}
	}
	.btn-outline-#{$color} {
		border-color: var(--bs-#{$color});
		color: var(--bs-#{$color});

		&:hover,
		&:active,
		&:focus {
			background-color: var(--bs-#{$color});
			color: white;
		}
	}
}

.btn-reserve {
	@extend %btn;
	color: var(--bs-secondary);
	background: white;
	height: 43px;
	border-color: white;

	&:hover,
	&:focus,
	&:active {
		border-color: white;
	}
}

.btn-diamond {
	@extend %diamond-button;

	&--white {
		@extend %diamond-button;
		background-color: white;

		svg {
			color: var(--bs-primary);
		}

		&:hover,
		&:focus,
		&:active {
			background: var(--bs-primary);

			svg {
				color: white;
			}
		}
	}
}

input[type="submit"].gform_button.button {
	@extend %btn;
	color: var(--bs-primary);
	background-color: transparent;
	border-color: var(--bs-primary);
	padding: 0.2rem 1rem 0.5rem;
	font-weight: 500;
	@include rfs.font-size(1.2rem);

	&:hover,
	&:focus,
	&:active {
		background-color: var(--bs-primary);
		color: white;
		border-color: var(--bs-primary);
	}
}
