@use "../abstracts/buttons";

.btn {
	&-primary {
		color: white;
	}

	&-white {
		@extend %btn;
		background: white;
		border-color: white;
	}

	&-reserve {
		@extend %btn;
		color: var(--color-secondary);
		background: white;
		height: 43px;
		font-size: 1.14rem;
		line-height: 1.25;
		border: 2px solid white;

		&:hover,
		&:focus {
			border: 2px solid white;
		}
	}

	&-default {
		@extend %btn;
		color: var(--color-primary);
		border: 2px solid var(--color-primary);
		padding: 0.2rem 1rem 0.5rem;
		font-weight: 500;
		line-height: 3;

		&:hover,
		&:focus {
			background: var(--color-primary);
			color: white;
			border: 2px solid var(--color-primary);
		}
	}

	&-secondary {
		@extend %btn;
		color: white;
		border: 2px solid white;
		padding: 0.5rem 1rem;
		font-weight: 500;

		&:hover,
		&:focus {
			background: white;
			color: var(--color-primary);
		}
	}

	&-diamond {
		@extend %btn;
		transform: rotateZ(45deg);
		border-color: white;

		i {
			color: white;
			transform: rotateZ(-45deg);
			transition: 0.3s;
		}

		&:hover,
		&:focus {
			background-color: white;
			i {
				color: black;
			}
		}

		&-white {
			@extend .btn-diamond;
			background-color: white;

			i {
				color: var(--color-primary);
			}

			&:hover,
			&:focus {
				background: var(--color-primary);

				i {
					color: white;
				}
			}
		}
	}
}
