@use "../abstracts/mixins" as m;

footer {
	background-image: linear-gradient(
		to bottom,
		rgb(1 1 1 / 20%),
		rgb(1 1 1 / 20%)
	);
	color: white;



	a {
		color: white;
		text-decoration: none;
		text-transform: none;

		&:hover,
		&:focus {
			color: var(--bs-primary);
			text-decoration: underline;
		}
	}

	.footer-info {
		background-color: var(--bs-dark);

		@include m.media-breakpoint-down(lg) {
			text-align: center;
		}
	}
}
