@use "../abstracts/mixins" as m;

footer {
	background-image: linear-gradient(
			to bottom,
			rgba(1, 1, 1, 0.2),
			rgba(1, 1, 1, 0.2)
		),
		url("../../img/footer-bg.jpg");
	background-size: cover;
	background-position: center;
	color: white;

	.widget-title {
		color: white;
	}

	h2 {
		padding-bottom: 1rem;
	}

	p,
	ul,
	ol,
	a,
	li {
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: 0.1rem;
	}
	a {
		color: white;
		text-decoration: none;
		text-transform: none;

		&:hover,
		&:focus {
			color: var(--bs-primary);
			text-decoration: underline;
		}
	}

	ul,
	ol {
		list-style: none;
		padding-left: 0;

		li {
			margin-bottom: 0.5rem;
		}
	}

	.social-icons a {
		--padding-x: 0.5rem;
		padding-left: var(--padding-x);
		padding-right: var(--padding-x);
	}

	.footer-info {
		background-color: var(--bs-dark);
		@include m.media-breakpoint-down(lg) {
			text-align: center;
		}
	}
}
