@use "../abstracts/mixins" as m;
@use "./header/mega-menu";
@use "./header/navbar";

.header-bar {
	font-family: var(--font-headings);
	min-height: 100px;

	.navbar-brand {
		&:focus-visible {
			border: solid 2px white;
		}

		&:focus:not(:focus-visible) {
			border: none;
		}
	}

	.logo {
		height: 80px;

		@include m.media-breakpoint-up(xxl) {
			max-height: 1000px;
		}
	}
}

.offcanvas {
	.btn-close {
		filter: var(--bs-btn-close-white-filter);
	}
}
