#weather-widget {
	.bg-image {
		width: calc(100% - var(--bs-gutter-x));
	}

	.bi {
		--size: 1.40625rem;
		width: var(--size);
		height: var(--size);
	}

	.day {
		font-weight: 700;
	}

	.bi {
		--size: 1.875rem;
	}

	small {
		vertical-align: top;
		padding-left: 0.15625rem;
	}
}
