@use "../abstracts/mixins" as m;
@use "./daterangepicker";

#booking-bar {
	@include m.media-breakpoint-up(lg) {
		margin-top: -90px;
	}

	@include m.media-breakpoint-down(lg) {
		max-width: none;
	}

	label {
		padding-left: 1rem;
	}

	.form-arrow {
		right: 15px;
		top: 13px;
		z-index: 0;
	}

	label {
		font-family: var(--font-body);
	}

	input[type="text"] {
		position: relative;
		border: 2px solid white;
		border-radius: 0;
		background: none;
		padding: 0.5rem;
		z-index: 1;
		cursor: pointer;

		&:focus {
			background-color: transparent;
			color: white;
		}
		&:focus-visible {
			outline: var(--color-primary) 2px solid;
			outline-offset: 2px;
		}
	}

	// A reset of styles, including removing the default dropdown arrow
	select {
		appearance: none;
		background-color: transparent;
		border: none;
		padding: 0.5rem;
		margin: 0;
		width: 100%;
		font-family: inherit;
		cursor: inherit;
		z-index: 1;
		color: white;
		outline: none;
		--bs-form-select-bg-img: none;

		&::-ms-expand {
			display: none;
		}

		option {
			color: black;
		}
	}

	.select {
		display: block;
		position: relative;
		padding: 0;
		color: white;
		height: 43px;
		border: 2px solid white;
		border-radius: 0;
		cursor: pointer;

		select,
		&::after {
			grid-area: select;
		}
	}
}
