@use "../abstracts/mixins" as m;
@use "./daterangepicker";

#booking-bar {
	background: url("../../../img/bg-images/brown-basket-bg.webp");
	color: white;

	@include m.media-breakpoint-up(lg) {
		margin-top: -90px;
	}

	@include m.media-breakpoint-down(lg) {
		max-width: none;
	}

	label {
		padding-left: 1rem;
	}

	h2,
	.h2 {
		color: white;
	}
	.form-arrow {
		position: absolute;
		right: 15px;
		top: 13px;
		z-index: 0;
	}

	label {
		font-family: var(--font-body);
	}

	input[type="text"] {
		position: relative;
		border: 2px solid white;
		border-radius: 0;
		color: white;
		background: none;
		padding: 0.5rem;
		font-size: 1.15rem;
		line-height: 1.25;
		z-index: 1;
		cursor: pointer;

		&:focus {
			background-color: transparent;
			color: white;
		}
		&:focus-visible {
			outline: var(--color-primary) 2px solid;
			outline-offset: 2px;
		}
	}

	select {
		// A reset of styles, including removing the default dropdown arrow
		appearance: none;
		background-color: transparent;
		border: none;
		padding: 0.5rem;
		margin: 0;
		width: 100%;
		font-family: inherit;
		font-size: 1.15rem;
		cursor: inherit;
		line-height: 1.25;
		z-index: 1;
		color: white;
		outline: none;
		--bs-form-select-bg-img: none;

		&::-ms-expand {
			display: none;
		}

		option {
			color: black;
		}
	}

	.select {
		display: block;
		position: relative;
		padding: 0;
		color: white;
		height: 43px;
		border: 2px solid white;
		border-radius: 0;
		cursor: pointer;

		select,
		&::after {
			grid-area: select;
		}
	}
}
