%headings {
	text-wrap: balance;
}

.h1,
h1 {
	@extend %headings;
	font-weight: bold;
	text-transform: uppercase;
}

.h2,
h2 {
	@extend %headings;
	font-weight: bold;
	text-transform: uppercase;
}

.h3,
h3 {
	@extend %headings;
}

.h4,
h4 {
	@extend %headings;
}

.h5,
h5 {
	@extend %headings;
}

.h6,
h6 {
	@extend %headings;
}
