a {
	text-decoration: none;
	color: var(--color-primary);
	transition: 0.3s;

	&:hover {
		color: var(--color-primary--dark);
	}
}

%arrow-links {
	line-height: 1.75rem;
	align-self: flex-end;
	font-weight: 500;
	font-size: 1.75rem;
	z-index: 1;

	&:hover {
		text-decoration: underline;
	}
}
.arrow-link {
	@extend %arrow-links;

	&-white {
		@extend %arrow-links;
		color: inherit;

		&:hover {
			color: inherit;
		}
	}
}
