@use "../../abstracts/mixins" as m;
@use "../../abstracts/buttons";

/** Settings to show mega menu on hover or dropdown-toggle activation */
@mixin show-dropdown() {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), auto) 160px;

	.dropdown-menu-end {
		position: relative;
		padding: 0.5rem 1rem;
	}

	a:not(.mega-menu__title) {
		font-family: var(--font-body);
	}

	.sub-menu {
		position: relative;
	}
}

.dropdown-menu {
	--bs-dropdown-min-width: auto;
}

.mega-menu {
	--bs-navbar-color: var(--bs-dark);

	@include m.media-breakpoint-up(lg) {
		display: flex;
		align-items: center;
	}

	.dropdown-item.nav-link:hover {
		color: var(--bs-secondary);
	}

	&:hover {
		.btn-group {
			& > a {
				color: var(--bs-nav-link-hover-color);
			}

			& > .btn {
				color: var(--bs-nav-link-hover-color);
			}
		}
	}

	.sub-menu {
		--bs-nav-link-color: var(--bs-body-color);
		--bs-dropdown-font-size: 1.6rem;
	}

	.btn-group {
		width: 100%;
		// flex-wrap: wrap;
		column-gap: 10px;

		@include m.media-breakpoint-down(lg) {
			display: grid;
			grid-template-columns: 140px 40px;

			.mega-menu__container.show {
				grid-row: 2 / 3;
				grid-column: 1 / -1;
			}
		}

		@include m.media-breakpoint-up(lg) {
			column-gap: 0;
		}

		& > .nav-link {
			display: block;
			height: auto;
			align-self: center;
		}

		.dropdown-toggle-split {
			flex-grow: 0;
		}
	}

	@include m.media-breakpoint-up(lg) {
		&:hover {
			.mega-menu__container {
				top: 100%;

				@include show-dropdown();
			}
		}
	}

	// DROPDOWN POSITION FIX
	&:nth-last-child(-n + 3) {
		.mega-menu__container {
			@include m.media-breakpoint-up(xl) {
				right: 0px;
				left: unset;
			}
			@media only screen and (min-width: 2000px) {
				& {
					right: unset;
				}
			}
		}
	}
	// END DROPDOWN POSITION FIX

	// Double ampersand used for higher specificity selection
	& &__container {
		@include m.media-breakpoint-up(lg) {
			margin-top: 3.6rem;
			gap: 10px;

			.dropdown-menu-end {
				// grabs all children *except* the last two
				&:not(:nth-last-child(-n + 2)) {
					.sub-menu {
						@include m.media-breakpoint-up(lg) {
							border-right: 1px solid black;
							height: 100%;
							padding-inline-end: 1.6rem;
						}
					}
				}
			}
		}
	}

	&__container {
		.dropdown-menu {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}

		.dropdown-toggle-split.show ~ &.show {
			@include m.media-breakpoint-up(lg) {
				@include show-dropdown();
			}
		}
	}

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		color: var(--bs-body-color);
		cursor: default;

		&:hover,
		&:focus,
		&:active {
			font-weight: 700 !important;
			color: var(--bs-body-color);
		}
	}

	&__image {
		aspect-ratio: 1;
		max-height: 150px;
	}

	&__btn {
		@extend %btn;
		width: 150px;
		background: var(--bs-primary);
		color: white;
		border: 2px solid var(--bs-primary);
		font-weight: 500;
		font-size: 1.6rem;

		&:hover,
		&:focus {
			border: 2px solid var(--bs-primary);
			background: white;
			color: var(--bs-primary);
		}
	}

	&__event-image {
		position: relative;
		z-index: 1;
		max-height: 250px;
		width: 100%;
		object-fit: cover;
		aspect-ratio: 16 / 9;
	}

	&__event-details {
		position: absolute;
		bottom: 0;
		z-index: 2;
		background-color: var(--bs-primary);
		font-family: var(--font-body);
		color: white;
		width: 100%;
		display: grid;
		grid-template-columns: 10px 1fr;
		align-items: center;
		gap: 10px;
		padding: 10px;

		&--title {
			font-family: inherit;
			letter-spacing: 1px;
			font-weight: 700;
			font-size: 18px;
			grid-column: 1 / -1;
			grid-row: 1 / 2;
			margin-bottom: 0;
		}

		&--icon {
			grid-column: 1 / 2;
		}

		&--time {
			// font-size: 16px;
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
	}
}
