@use "../../abstracts/mixins" as m;

.navbar-nav {
	.btn {
		--bs-btn-color: white;
		--bs-btn-hover-color: var(--bs-secondary);
	}

	@include m.media-breakpoint-up(xl) {
		& > .nav-item {
			--vertical-space: 2.5rem;
			margin-top: var(--vertical-space);
			padding-bottom: var(--vertical-space);
		}
	}

	button.dropdown-toggle-split {
		&:focus {
			color: var(--bs-secondary);
		}
	}
}

.nav-btn {
	margin-inline-start: 5px;
	text-align: center;

	%focus_active_styles {
		background: white;
		color: var(--bs-primary);
	}

	&:hover {
		.nav-link {
			@extend %focus_active_styles;
		}
	}

	.nav-link {
		--bs-navbar-nav-link-padding-x: 0.75rem;
		border: 1px solid white;
		margin: 0;

		&:focus-visible {
			@extend %focus_active_styles;
		}
	}
}

.nav-link {
	&:focus-visible {
		font-weight: bold;
		text-decoration: underline;
	}

	&:focus:not(:focus-visible) {
		font-weight: normal;
		text-decoration: none;
	}

	&:not(.mega-menu__title) {
		transition: 0.3s;
	}

	&.mega-menu,
	.nav-btn & {
		padding: 0.75rem 1rem;
	}

	&.active {
		font-weight: bold;
	}
}
