@use "../../abstracts/mixins" as m;

.navbar-nav {
	.btn {
		--bs-btn-color: white;
		--bs-btn-hover-color: var(--bs-secondary);
	}

	@include m.media-breakpoint-up(xl) {
		& > .nav-item {
			--vertical-space: 3.5rem;
			margin-top: var(--vertical-space);
			padding-bottom: var(--vertical-space);
		}
	}

	button.dropdown-toggle-split {
		&:focus {
			color: var(--bs-secondary);
		}
	}
}

.nav-btn {
	margin-inline-start: 5px;
	text-align: center;

	%focus_active_styles {
		background: white;
		color: var(--bs-primary);
	}

	&:hover {
		.nav-link {
			@extend %focus_active_styles;
		}
	}

	.nav-link {
		--bs-navbar-nav-link-padding-x: 1.2rem;
		border: 1px solid white;
		margin: 0;

		&:focus-visible {
			@extend %focus_active_styles;
		}
	}
}

.nav-link {
	&:focus-visible {
		font-weight: bold;
		text-decoration: underline;
	}

	&:focus:not(:focus-visible) {
		font-weight: normal;
		text-decoration: none;
	}

	&:not(.mega-menu__title) {
		transition: 0.3s;
	}

	&.mega-menu,
	.nav-btn & {
		padding: 1.2rem 1.6rem;
	}

	&.active {
		font-weight: bold;
	}
}

#cno-navbar {
	.dropdown-toggle-split {
		border: 1px solid white;
		display: grid;
		place-content: center;

		@include m.media-breakpoint-up(lg) {
			border: none;
		}

		@include m.media-breakpoint-down(lg) {
			&::after {
				margin-inline-start: 0;
			}
		}
	}
}
